USE [StackOverflow2010]
ALTER PROCEDURE [dbo].[SPUYGULAMA3]
@WORD AS NVARCHAR(100), @BEGDATE AS DATE = NULL, @ENDDATE AS DATE = NULL
AS
	DECLARE @PARAMETERS AS VARCHAR(1000)
	DECLARE @HOSTNAME AS VARCHAR(100)
	DECLARE @USERNAME AS VARCHAR(100)
	DECLARE @LOGDATE AS DATETIME
	DECLARE @LOGENDDATE AS DATETIME
	DECLARE @DURATION AS INT
	DECLARE @ROWCOUNT AS INT

	SET @LOGDATE = GETDATE()
	SET @USERNAME =SUSER_NAME() --SQL de açılmış olan hesabın kullanıcı adı : LAPTOP-51ASD11\M.Suleyman Guney
	SET @HOSTNAME =HOST_NAME() -- LAPTOP-51ASD11
	--Windows authenticated olduğu için PC'nin ismi gözüküyor
	SET @PARAMETERS = '@WORD='+@WORD
	SET @PARAMETERS = @PARAMETERS + ' @BEGDATE=' + CONVERT(varchar,@BEGDATE,104)
	SET @PARAMETERS = @PARAMETERS + ' @ENDDATE=' + CONVERT(varchar,@ENDDATE,104)

	SELECT * FROM Comments
	WHERE Text LIKE CONCAT('%',@WORD,'%')
		AND CreationDate BETWEEN @BEGDATE AND @ENDDATE
	SET	@ROWCOUNT= @@ROWCOUNT

	SET @LOGENDDATE = GETDATE()
	SET @DURATION = DATEDIFF(SECOND,@LOGDATE,@LOGENDDATE)

	--SELECT @PARAMETERS PARAMETERS 
	INSERT INTO Procedure_Log(USERNAME, HOSTNAME, SPNAME, PARAMETERS, BEGDATE, ENDDATE, DURATION,ROWCOUNT_) 
	VALUES (@USERNAME, @HOSTNAME, 'SPUYGULAMA3', @PARAMETERS, @LOGDATE, @LOGENDDATE, @DURATION,@ROWCOUNT)
	-- #Kontrol kısmı
	EXEC SPUYGULAMA3

